html {
  font-size: 62.5%; /* Now 10px = 1rem! */
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $font-family-text;
  font-size: $fs-base;
  font-weight: $font-weight-base;
  color: $font-base-color;
  line-height: $line-height-base;
  @media (min-width: $screen-sm){
    font-size: $fs-base;
  }
}

@mixin content-blocks{
  & + p, & + ul, & + ol, & + blockquote, & + .content-block{
   @content;
  }
}

p,ul,ol,blockquote,.content-block{
  margin-top: 0;
  margin-bottom: 2.4rem;
  @include content-blocks{
    margin-top: 1em;
  }

}

.title {
  margin: 7.2rem 0 4.8rem 0;
  text-align: center;
	font-weight: 600;
  @media (min-width: $screen-sm){
    margin: 7rem 0 5rem 0;
  }
}

ul {
  padding-left: 1.1em;
}

li{
  margin-bottom: 0;

  //@media (min-width: $screen-sm){
  //
  //}
}

blockquote {
  border-left: 4px solid $primary;
  padding-left: 1em;
  font-weight: 500;
  font-style: italic;
  color: $grey-2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base;
  color: $secondary;
  line-height: $line-height-header;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: $fs-h1;
  //@media (min-width: $screen-sm){
  //  font-size: $fs-h1;
  //}
}

h2 {
  font-size: $fs-h2;
  //@media (min-width: $screen-sm){
  //  padding-bottom: 48px;
  //}
}

h3 {
  font-size: $fs-h3;
  color: $grey-2;
}

h4 {
  font-size: $fs-h4;
}

h5 {
  font-size: $fs-h5;
}

//extend sizes
.s1{font-size: $fs-h1;}
.s2{font-size: $fs-h2;}
.s3{font-size: $fs-h3;}
.s4{font-size: $fs-h4;}
.s5{font-size: $fs-h5;}
.s5{font-size: $fs-h6;}
.large{font-size: $fs-large;}
.small{font-size: $fs-small;}

hgroup{

  h1,.s1{
    margin-bottom: .2em;
    + *{
      font-weight: normal;
    }
  }
}

.font-primary {
  font-family: $font-family-base;
}
.font-secondary {
  font-family: $font-family-text;
}
.font-handwrite {
  font-family: 'Beauty Salon Script', Arial, sans-serif;
  font-style: normal;
}

.font-weight-normal {
  font-weight: $font-weight-base;
}
.font-weight-bold {
  font-weight: 700;
}
.font-style-normal {
  font-style: normal;
}

.text-center {
  text-align: center;
}
