* { box-sizing: border-box; }

html{
  height: 100%;
}

body {
  background-color: $background;
	min-width: 320px;
	height: 100%;
  margin: 0;
  overflow-x: hidden;
  transition: transform .5s ease-out;

  @media (min-width: $grid-breakpoint){
    padding-left: 0;
    padding-right: 0;
  }

  &.open-menu{
    @media (max-width: $grid-breakpoint - 1){
      transform: translateX($nav-responsive-width);
    }
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .4s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

@keyframes fadeinmove {
  from { opacity: 0; transform: translateX(+20%);  }
  to   { opacity: 1; transform: translateX(0%); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

::selection {
  background: $primary;
  color: #000000;
}

img{
  max-width: 100%;
  height: auto;
  user-select: none;
}

.shape{
  width: 100%;
  max-height: 100%;
}
.disabled {
  cursor: not-allowed;
}

.list-none {
  list-style-type: none;
  padding-left: unset;
}

.bg-primary {
  background-color: $primary;
}

section {
  margin-bottom: 2.4rem;

  //ul {
  //  padding: 0;
  //}

  @media (min-width: $screen-sm){
    margin-bottom: 7.2rem;
  }
}

button,
.button {
  display: inline-block;
  padding: 1.2rem 3rem 1rem 3rem;
  margin: 0;
  text-decoration: none;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  background-color: #525b60;
  color: #ffffff;
  cursor: pointer;
  border: 0;
  text-align: center;
  transition: background-color 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  &.button-large {
    padding: 1.8rem 4.5rem 1.5rem 4.5rem;
  }

  &:hover {
    background-color: lighten(#525b60, 20%);
  }
}

.button.button-primary {
  background-color: $primary;
  color: #000000;

  &:hover {
    background-color: lighten($primary, 20%);
  }
}

button:focus,
.button:focus {
  outline: none;
}

button:active,
.button:active {
  transform: scale(0.95);
}

.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 4px;
  }

  &__field {
    transition: border .1s ease;
    border: 1px solid $grey-3;
    background-color: white;
    padding: 0 8px;
    height: 36px;
    font-size: 16px;

    &:active,
    &:hover {
      outline: none;
      border: 1px solid $primary;
    }

    &:focus {
      outline-offset: 0;
      border: 1px solid $primary;
    }

    &:disabled {
      background-color: grey;
      pointer-events: none;
    }
  }
}
