* { box-sizing: border-box; }

div#__nuxt, #__layout, #__layout>div, #app { min-height: 100vh; }

html{
  height: 100%;
}

body {
  background-color: $background;
	min-width: 320px;
	height: 100%;
  margin: 0;
  overflow-x: hidden;
  transition: transform .5s ease-out;

  @media (min-width: $grid-breakpoint){
    padding-left: 0;
    padding-right: 0;
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .4s ease;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(50px);
  opacity: 0;
}

@keyframes fadeinmove {
  from { opacity: 0; transform: translateX(+20%);  }
  to   { opacity: 1; transform: translateX(0%); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

::selection {
  background: $primary;
  color: #000000;
}

img{
  max-width: 100%;
  height: auto;
  user-select: none;
}

.shape{
  width: 100%;
  max-height: 100%;
}
.disabled {
  cursor: not-allowed;
}

.list-none {
  list-style-type: none;
  padding-left: unset;
}

.bg-primary {
  background-color: $primary;
}


.button {
  display: inline-block;
  padding: 0.7rem 1.7rem 0.6rem 1.7rem;
  text-decoration: none;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  cursor: pointer;
  border: 0;
  text-align: center;
  transition: background-color 250ms ease-in-out,
              border 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  @apply text-white;

  &.button-large {
    padding: 1rem 2.5rem 0.8rem 2.5rem;
  }
}

.button.button-outline {
  @apply bg-white;
  @apply text-gray-600;
  @apply border-gray-600;
  @apply border-1;
  @apply border-solid;

  &:hover {
    @apply bg-gray-600;
    @apply text-white;
  }
}

.button.button-icon {
  background-color: transparent;
  color: unset;
  padding: 0;

  &:hover {
    background-color: unset;
    svg {
      fill: rgb(75, 85, 99);
    }
  }

  &:active {
    transform: scale(0.8);
  }
}

.button.button-spinner {
  padding-top: 0;
  padding-bottom: 0;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.95);
}

//.text-input {
//  display: flex;
//  flex-direction: column;
//
//  &__label {
//    margin-bottom: 4px;
//  }
//
//  &__field {
//    transition: border .1s ease;
//    border: 1px solid $grey-3;
//    background-color: white;
//    padding: 0 8px;
//    height: 36px;
//    font-size: 16px;
//
//    &:active,
//    &:hover {
//      outline: none;
//      border: 1px solid $primary;
//    }
//
//    &:focus {
//      outline-offset: 0;
//      border: 1px solid $primary;
//    }
//
//    &:disabled {
//      background-color: grey;
//      pointer-events: none;
//    }
//  }
//}

.text-input {
  height: 100%;
  background: transparent;
  border-bottom: 1px solid black;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: black;
  }
}
