$grid-gutter-width: $gutter;

$screen-xs:           450px;
$screen-sm:           840px;
$screen-md:           992px;
$screen-lg:           1140px;
$screen-xlg:          1900px;

$container-md:        1000px;
$container-lg:        1300px;

$grid-breakpoint:     $screen-md;

@mixin container-fixed($gutter: $grid-gutter-width) {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left:  $gutter;
  padding-right: $gutter;
}
