a {
  text-decoration: none;
  color: $primary;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

  &:hover,
  &.active,
  &:focus,
  .nuxt-link-active {
    outline: 0;
    text-decoration: none;
  }
}
