//COLORS
$primary: #fff72e;
$secondary:                       #000000;
$background:                      #ffffff;

$grey-1:                          #161618;
$grey-2:                          #767676;
$grey-3:                          #858484;
$grey-4:                          #f6f6f6;

$error:                           #b70d0d;

$gutter: 				  				        1.4rem;
$header-height:      			        1.8rem;

$border-radius: 					   			3px;
$shadow:								 				  0 2px 4px rgba(black, .08);

$blog-link-color:                 $grey-3;


// FONTS
$font-base-color:             $secondary;
$font-family-base:            'Bebas Neue', Arial, sans-serif;
$font-family-text:            'Raleway', Arial, sans-serif;
$font-weight-base:            300;
$line-height-base:            1.6;
$line-height-header:          1;

$fs-base:                     18px;

$fs-h1:                       2.8rem;
$fs-h2:                       2.2rem;
$fs-h3:                       1.7rem;
$fs-h4:                       1.35rem;
$fs-h5:                       $fs-base;
$fs-h6:                       0.8rem;
